# Neon PostgreSQL Database Connection URL (PostgreSQL en Neon.tech)
# Ejemplo: postgresql://neondb_owner:password@ep-cool-lake-123456.us-east-2.aws.neon.tech/neondb?sslmode=require
DATABASE_URL=

# (Opcional - anterior Supabase)
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
